.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url('../../../assets/berlin/berlinmarathon-1200x900.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    overflow: hidden;
    padding: 0;
    height: 100vh
}